<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M18 Hellcat - Hull - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{68,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,121}}</string>
                <key>sourceSize</key>
                <string>{68,121}</string>
            </dict>
            <key>M18 Hellcat - Turret - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{48,150}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{48,150}}</string>
                <key>sourceSize</key>
                <string>{68,186}</string>
            </dict>
            <key>M20 Greyhound - Turret - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{38,58}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{38,58}}</string>
                <key>sourceSize</key>
                <string>{60,118}</string>
            </dict>
            <key>M3A1 Half-Track - Hull - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,158}}</string>
                <key>sourceSize</key>
                <string>{52,158}</string>
            </dict>
            <key>M3A1 Half-Track - Turret MG.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,102},{11,43}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,43}}</string>
                <key>sourceSize</key>
                <string>{17,75}</string>
            </dict>
            <key>M4 Sherman - Selection Indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,102},{72,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,148}}</string>
                <key>sourceSize</key>
                <string>{72,148}</string>
            </dict>
            <key>M4 Sherman Crocodile - Hull - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{62,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,138}}</string>
                <key>sourceSize</key>
                <string>{62,138}</string>
            </dict>
            <key>M4A1 Half-Track Mortar - Hull - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{52,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,150}}</string>
                <key>sourceSize</key>
                <string>{52,150}</string>
            </dict>
            <key>M4A1 Sherman - Hull - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{62,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,138}}</string>
                <key>sourceSize</key>
                <string>{62,138}</string>
            </dict>
            <key>M4A1 Sherman - Turret - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{48,92}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{48,92}}</string>
                <key>sourceSize</key>
                <string>{62,138}</string>
            </dict>
            <key>M4A1 Sherman 105mm - Turret - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,52},{48,86}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,86}}</string>
                <key>sourceSize</key>
                <string>{62,138}</string>
            </dict>
            <key>M5A1 Stuart - Hull - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,252},{58,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,102}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>M5A1 Stuart - Turret - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{40,66}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{40,66}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>M8 Greyhound - Hull - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,312},{60,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,118}}</string>
                <key>sourceSize</key>
                <string>{60,118}</string>
            </dict>
            <key>M8 Greyhound - Machine Gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,160},{10,42}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{10,42}}</string>
                <key>sourceSize</key>
                <string>{60,118}</string>
            </dict>
            <key>M8 Greyhound - Main Gun - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{38,66}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{38,66}}</string>
                <key>sourceSize</key>
                <string>{60,118}</string>
            </dict>
            <key>M8 Howitzer Motor Carriage - Turret - Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,358},{36,52}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{36,52}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>American Vehicles.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c830384fd68926b24a2579c45af49e24$</string>
            <key>textureFileName</key>
            <string>American Vehicles.png</string>
        </dict>
    </dict>
</plist>
